@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

.container{
	width: 80%;
	margin: 150px 750px;
	height: 300%;
	padding: 30px 10px;
	text-align: justify;
	/* width: 60%;
	margin: 80px auto;
	display: flex;
	flex-direction: column;
	position: relative; */
}
h2{
    text-align: center;
    color: #0A2D72;
    font-family: 'Roboto Condensed', sans-serif;
}
h3{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
 li{
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.logo2{
    width: 10%;
    border-radius: 15%;
    margin-left: 48%;
}


.menu{
    box-shadow: 0 2px 15px #f9b515 ;
    background-color: #0A2D72;
    width: 75%;
    margin-left: 10%;
    margin-top: 4%;
}


.footer{
    background-color:#f9b515  ;
    box-shadow: 0 2px 15px #0A2D72;
    width: 75%;
    margin-top: 20px;
    margin-left: 10%;
}

.tf{
    color:  #0A2D72;
    font-size: 42px;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}
.btn{
    text-align: right;
    font-size: 275%;
    color: #0A2D72;
}


.btn1{
    font-size: 60px;
    color: #0A2D72;
}

.btn2{
   margin-left: 80%;
   font-size: 60px;
    color: #0A2D72;
}


.menu{
    box-shadow: 0 2px 15px #f9b515 ;
    background-color: #0A2D72;
}

.titulo{
    color:  #fff;
    font-size: 42px;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}
