.container{
	width: 80%;
	margin: 150px 750px;
	height: 300%;
	padding: 30px 10px;
	text-align: justify;
	/* width: 60%;
	margin: 80px auto;
	display: flex;
	flex-direction: column;
	position: relative; */
}

.comit{
    background-image: url(../../src/assets/img/Page20/);
    padding: 5%;
    width: 100%;
    justify-content:space-between;
}


  .titulo{
    color:  #fff;
    font-size: 42px;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .menu{
    box-shadow: 0 2px 15px #f9b515 ;
    background-color: #0A2D72;
    width: 75%;
    margin-left: 10%;
    margin-top: 4%;
  }
  
  .footer{
    background-color:#f9b515  ;
    box-shadow: 0 2px 15px #0A2D72;
    width: 75%;
    margin-top: 22px;
    margin-left: 10%;
  }

.tf{
    color:  #0A2D72;
    font-size: 42px;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}
.btn{
    text-align: right;
    font-size: 60px;
    color: #0A2D72;
}


.btn1{
    margin-left: 78%;
    font-size: 60px;
    color: #0A2D72;
}

.btn2{
   margin-left: 78%;
    font-size: 60px;
    color: #0A2D72;
}

h2{
  text-align: center;
  color: #0A2D72;
  font-family: 'Roboto Condensed', sans-serif;

}

li{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 28px;
    text-align: center;
}