.container{
	width: 80%;
	margin: 150px 200px;
	height: 300%;
	padding: 30px 10px;
	text-align: justify;
	/* width: 60%;
	margin: 80px auto;
	display: flex;
	flex-direction: column;
	position: relative; */
}


.vm{
    margin-left: 60%;
}

.vf{
    margin-left: 70%;
    border: 1px solid;
    color: blue;
}


  
  .titulo{
    color:  #fff;
    font-size: 42px;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .menu{
    box-shadow: 0 2px 15px #f9b515 ;
    background-color: #0A2D72;
    width: 80%;
    margin-left: 10%;
    margin-top: 4%;
  }
  
  .footer{
    background-color:#f9b515  ;
    box-shadow: 0 2px 15px #0A2D72;
    width: 80%;
    margin-top: 25px;
    margin-left: 10%;
  }

.tf{
    color:  #0A2D72;
    font-size: 42px;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}
.btn1{
  margin-left: 70%;
  font-size: 50px;
  color: #0A2D72;
}

.btn{
  font-size:50px;
  color: #0A2D72;
}


h2{
    text-align: center;
    color: #0A2D72;
  }

  p{
    font-size: 25px;
    text-align: center;
  }

  .card{
    display:flex;
    flex-direction:row;
    margin-top: 2%;
    justify-content: space-around;
    width:1000px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #0A2D72;
    border-radius:15px;
    margin-left: 15%;
}