h4{
    color: #0A2D72;
}

.imgr{
    margin-left: 10%;
    border: 1px solid;
    color: blue;
}

.imgr2{
   margin-left: 40%;
   border: 1px solid;
   color: blue;
}

.imgr3{
    margin-left: 65%;
    border: 1px solid;
    color: blue;
 }

 