.container{
	width: 80%;
	margin: 140px 200px;
	height: 300%;
	padding: 30px 10px;
	text-align: justify;
	/* width: 60%;
	margin: 80px auto;
	display: flex;
	flex-direction: column;
	position: relative; */
}

.flip-container1 {
  background-color: transparent;
  width: 360px;
  height: 350px;
  perspective: 1000px; 

}
h2{
  text-align: center;
  color: #0A2D72;
  margin-right: 30px;
  font-family: 'Roboto Condensed', sans-serif;

}

p{
  font-size: 25%;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
}
.pt1{
  font-size: 30%;
  color: #0A2D72;
  font-family: 'Roboto Condensed', sans-serif;
}
.card1 {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 2px 20px #0A2D72;

}
.flip-container1:hover .card1 {
  transform: rotateY(180deg);
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  border-radius: 2%;
}
.front {
  background-color:#f9b515 ;
  color: #fff;
}
.back {
  background-color: #0A2D72;
  color: white;
  transform: rotateY(180deg);
}

.menu{
  box-shadow: 0 2px 15px #f9b515 ;
  background-color: #0A2D72;
  width: 80%;
  margin-left: 10%;
  margin-top: 4%;
}

.footer{
  background-color:#f9b515  ;
  box-shadow: 0 2px 15px #0A2D72;
  width: 80%;
  margin-top: 23px;
  margin-left: 10%;
}

.tf{
    color:  #0A2D72;
    font-size: 42px;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}
.btn{
    text-align: right;
    font-size: 275%;
    color: #0A2D72;
}


.btn1{
  font-size: 50px;
  color: #0A2D72;
}

.btn2{
 margin-left: 70%;
 font-size: 50px;
  color: #0A2D72;
}

.titulo{
    color:  #fff;
    font-size: 42px;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}
